---
---

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link href="../../public/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-aside,
      .bd-cheatsheet {
        padding-top: 14rem;
        }
      /* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      } */

      /* @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      } */

      /* .b-example-divider {
        height: 3rem;
        background-color: rgba(255, 255, 255, 0.1);
        border: solid rgba(255, 255, 255, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(255, 255, 255, 0.1), inset 0 .125em .5em rgba(255, 255, 255, 0.15);
      } */

      /* .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      } */

      /* .bi {
        vertical-align: -.125em;
        fill: currentColor;
      } */

      .nav-scroller {
        /* position: relative; */
        /* z-index: 2;
        height: 2.75rem;
        overflow-y: hidden; */
      }

      /* .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      } */
    </style>

    <!-- Custom styles for this template -->
    <link href="../components/header.css" rel="stylesheet">
  </head>
      <header class="border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <div class="d-flex justify-content-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../public/assets/logo.svg" alt="mdo" width="122" height="122" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
                <li><a class="dropdown-item" href="#">Inventory</a></li>
                <li><a class="dropdown-item" href="#">Customers</a></li>
                <li><a class="dropdown-item" href="#">Products</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Reports</a></li>
                <li><a class="dropdown-item" href="#">Analytics</a></li>
              </ul>
              <!-- <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul> -->
            </div>
        </div>
      </header>
    </main>
    <script src="../../public/assets/dist/js/bootstrap.bundle.min.js"></script>


<style>
  /* .form-control-dark {
  border-color: var(--bs-gray);
} */

/* .form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(247, 244, 244, 0.25);
} */

.text-small {
  font-size: 85%;
}
.border-bottom {
  border-bottom:#dee2e64a;
}

/* .dropdown-toggle {
  outline: 0;
} */

</style>