
<section>
  <video src="/assets/video.webm" autoplay loop></video>
  <div class="logo">
    <img src="/assets/Logo.png" alt="">
  </div>
</section>

<style>
  section{
    height: 100vh;
    background-color: black;

  }
  video{
    position: relative;
    widows: 100%;
  }

  .logo{
    position: relative;
    top: -450px;
    text-align: center;
  }
  .logo img{
    width: 400px;
  }
</style>